#
# Linux kernel build tools config file
#
## Mostry default options
KBLD_DIR=/opt/kbuild-tool
KBLD_DETECT_GUILT=t
#KBLD_MRPROPER=1


KBLD_MAKE_OPT=""
KBLD_MAKE_JOBS=""

#Install options
#KBLD_MKINITRD_OPT=""
#KBLD_MAKE_DEFAULT=1
#KBLD_PRUNE_OLD=1


#Remote optio
KBLD_REMOTE_ALWAYS_INSTALL_DEPS=t
KBLD_REMOTE_WAIT=t
#Reboot options
KBLD_REBOOT_TYPE="kreboot"

# S3 storage config
KBLD_ART_PROTO="s3"
KBLD_ART_ROOT="s3://kbuild"
S3CMD_OPT="--no-mime-magic --multipart-chunk-size-mb=256"
